* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;
  background-color: $color-light;
  line-height: $line-height-normal;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus-visible {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }
}